Django
django-rest-swagger==2.2.0
djangorestframework
pytz==2020.1
requests==2.27.1
simplejson==3.17.6
sqlparse==0.3.1
pre-commit
mysqlclient==2.1.0
django-extensions==3.1.5
drf-url-filters==0.5.1
django-cors-headers==3.10.1
