
<!DOCTYPE html>
<html>

 <head>
   <title> VOUCHERS</title>
   <link rel="stylesheet" href="styles/voucher.css">
 </head>
 <body>
    <div class="logo">
        <div class="logo-dp"><img src="icons/Bedoff_logo.png"></div>



    </div>
    <div class="booking-id"> <h6 class="book-id">Booking Id : BBT060449</h6></div>


    <div class=" confirmation-message">
        <h4>Hi ! Your Booking at Hotel B.S Residency is Confirmed!</h4>
    </div>

     <div class ="booking_dashboard">

     <div class="checkin-C">

       <div class="checkin-head" >
           <h1>CHECK IN </h1>
       </div>

       <div class="checkin-body" >
        <h3>08 </h3>
       </div>

       <div class="checkin-foot" >
        <h4> April <br><br>friday</h4>
       </div>

        </div>

     <div class="Nights-C">

            <div class="Nights-head" >
                <h1>NIGHTS</h1>
            </div>

            <div class="Nights-body" >
             <h2>4N </h2>
            </div>



             </div>

     <div class="Checkout-C">

                <div class="Checkout-head" >
                    <h1>CHECKOUT </h1>
                </div>

                <div class="Checkout-body" >
                 <h3>08 </h3>
                </div>

                <div class="Checkout-foot" >
                 <h4> April<br><br>Tuesday</h4>
                </div>

                 </div>
      </div>
    <div class="main-c">
     <div class=" Booking-details">

       <div class="booking-head">
         <h3>BOOKING DETAILS:</h3>
       </div>
       <div class="Booking-body">
           <h3>
               JAMCY187 - Hotel B.S Residency, Jamshedpur
           </h3>
           <P>O Road, IXth Avenue, Bistupur, beside Gurudwara, Jamshedpur,Jharkhand <br>831001</P>
           <br>

           <p> Meal Plan: Complementary Breakfast</p>
           <br>
           <br>
           <p>For any issue during check-in and your stay at the hotel call us at +91-8527083723, +91-9835882587, +91-
            7903904826, +91-6206275903 or mail us at support.reservations@bedoff.com to get instant resolution to
            your concerns.
            </p>
       </div>

     </div>

      <div class="Guest-details">
        <div class="guest-head">
            <h3>GUEST DEATILS:</h3>
        </div>
        <div class="guest-body">
            <p>Karandeep Singh, Mohammed Shayan Hasin, Md Imteyaz Ansari, Rahul Chauhan, RAJAT KUMAR GIRI,
                Rohit Prasad Khatik, Harshit Agarwal, Vinit Pandey, Sandeep Kumar Sahu , VISHAL GIRI, janakpal singh,
                Navneet Kumar,Sumit Subodh Jha</p>
        </div>

      </div>

      <div class="Rooms">
         <div class="room-head">
             <h3>
                 ROOMS:
             </h3>
         </div>
         <div class="room-body">
             <p>7 Double Occupancy Room(s)</p>
         </div>
     </div>
    </div>

 </body>


</html>